<%- layout("./layouts/boilerplate.ejs") %>

<div class="row">  
    <div class="col-8 offset-2 alert alert-danger d-flex align-items-center" role="alert">
        <p><%= message %></p>
    </div>
</div>